      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#/photos">can.show('Photos')</a>
          <form class="navbar-search pull-left" action="">
            <input type="text" class="search-query" placeholder="Search" value="<%= term %>" />
            <button type="submit" class="btn btn-primary btn-search"><i class="icon-search icon-white"></i></button>
          </form>
        </div>
      </div>