@media (min-width: 979px) {

  body {
    padding-top: 60px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .thumbnails > li {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 768px) {

  .thumbnails > li {
    margin-left: 0;
  }
}

.icon-search {
  margin-top: -2px;
}