@media (min-width: 979px) {

  body {
    padding-top: 60px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .thumbnails > li {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 768px) {

  .thumbnails > li {
    margin-left: 0;
  }
}

.icon-search {
  margin-top: -2px;
}

.code {
  overflow-x: scroll;
  color: red;
  white-space: nowrap;
  background-color: whiteSmoke;
  border: 1px solid #CCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.code > ul {
  list-style: none;
  padding: 5px;
  margin-left: 5px;
}