@media (min-width: 979px) {

  body {
    padding-top: 60px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .thumbnails > li {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 768px) {

  .thumbnails > li {
    margin-left: 0;
  }
}

.navbar .btn {
  padding: 4px 10px 4px;
  margin: 0px 0px 7px;
}

.code {
  overflow-x: scroll;
  color: red;
  word-spacing: normal;
  white-space: nowrap;
  background-color: whiteSmoke;
  border: 1px solid #CCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  min-height: 300px;
}